.sobre {
  background-color: #083a75;
}

.container__info {
  display: flex;
  align-items: center;
  padding: 6vh 10% 6vh 10%;
}

.sobre p {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 300;
  text-align: justify;
}

.sobre h2 {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 6vh;
}

.sobre section {
  padding-left: 30px;
}
